div,
a {
    display: flex;
    text-decoration: inherit;
}

.ir-collaborations {
    background-color: white;
    background-image: url('./../../assets/images/collaborations_bck.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 60px);
    /* header height */
}

.ir-collaborations-background-gradient {
    flex-direction: column;
    width: 100vw;
    background: transparent;
    background: linear-gradient(330deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 60%);
}

.ir-collaborations-title {
    justify-content: center;
    text-align: center;
    margin: 40px 20px 20px 20px;
    font-size: 2rem;
    font-weight: 500;
}

.ir-collaborations-text {
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

.ir-collaborations-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 80px 20px;
    overflow: auto;
}

.ir-collaborations-list-item {
    position: relative;
    flex-direction: column;
    min-width: 200px;
    margin: 0 20px;
    flex: 1;
}

.ir-collaborations-list-item-img {
    justify-content: center;
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.ir-collaborations-list-item-img img {
    max-height: 100%;
    max-width: 100%;
}

.ir-collaborations-list-item-details {
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.ir-collaborations-list-item-details-name {
    color: black;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}

.ir-collaborations-list-item-details-description {
    font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
    .ir-collaborations-list {
        margin: 40px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .ir-collaborations-list {
        margin: 20px;
    }
    .ir-collaborations-list-item-details-name,
    .ir-collaborations-list-item-details-description {
        display: block;
        text-align: center;
    }
}