<div class="ir-mobile-collaborations-background-img">
    <div class="ir-mobile-collaborations-background-gradient">
        <div class="ir-mobile-collaborations-title">
            Tutto compreso, fin nei più piccoli dettagli
        </div>
        <div class="ir-mobile-collaborations-text">
            Una grande squadra a tua disposizione per rifinire nel migliore dei modi ogni tipo di lavoro
        </div>
        <div class="ir-mobile-collaborations-list">
            <div *ngFor="let collaborator of collaborators" class="ir-mobile-collaborations-item">
                <a class="ir-mobile-collaborations-list-item-img" [href]="collaborator.link" target="_blank">
                    <img [src]="collaborator.logoPath" />
                </a>
                <a class="ir-mobile-collaborations-list-item-details-name" [href]="collaborator.link" target="_blank">
                    {{collaborator.name}}
                </a>
                <div class="ir-mobile-collaborations-list-item-details-description">
                    {{collaborator.description}}
                </div>
            </div>
        </div>
    </div>
</div>