.ir-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 6vh;
  background: white;
  z-index: 1;
}

.ir-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 0.4vw;
  padding: 0 0.4vw;
  font-weight: 500;
  font-size: 1.2vw;
  letter-spacing: 0.15em;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.ir-menu-item-active {
  background-color: rgba(120, 120, 120, 0.4);
}

.ir-menu-item:hover {
  background-color: rgba(120, 120, 120, 0.4);
}

.ir-menu-logo {
  position: absolute;
  right: 1.2vw;
  display: flex;
  align-items: center;
  height: 6vh;
  z-index: 2;
}

.ir-menu-logo img {
  height: 5vh;
  cursor: pointer;
}
