<div class="ir-mobile-contacts-background-img">
  <div class="ir-mobile-contacts-background-gradient">
    <div class="ir-mobile-contacts-title">
      A tua completa disposizione
    </div>
    <div class="ir-mobile-contacts-text">
      Dubbi, preventivi, collaborazioni? Per qualsiasi cosa, chiedi pure!
    </div>
    <div class="ir-mobile-contacts-table">
      <div class="ir-mobile-contacts-name">Ing. Luca Rebesan</div>
      <div class="ir-mobile-contacts-item-box">
        <div class="ir-mobile-contacts-item-label">
          Mail
        </div>
        <div class="ir-mobile-contacts-item-value">
          <a href="mailto:ing.rebesan@gmail.com">ing.rebesan@gmail.com</a>
        </div>
      </div>
      <div class="ir-mobile-contacts-item-box">
        <div class="ir-mobile-contacts-item-label">
          Telefono
        </div>
        <div class="ir-mobile-contacts-item-value">
          <a href="tel:+393402695402">+39 3402695402</a>
        </div>
      </div>
    </div>
    <div class="ir-mobile-contacts-additional-message">
      Il lavoro tiene occupati e può capitare che il telefono squilli più a lungo del previsto, riprova semplicemente più tardi o aspetta di essere richiamato!
    </div>
    <div class="ir-mobile-contacts-additional-message">
      In alternativa una mail riceverà sempre risposta!
    </div>
  </div>
</div>

<div class="ir-mobile-contacts-footer">
  <div class="ir-mobile-contacts-footer-item">
    VIA DON ANTONIO PAJUSCO 2
  </div>
  <div class="ir-mobile-contacts-footer-item">
    37040 - ROVEREDO DI GUA' (VR)
  </div>
  <div class="ir-mobile-contacts-footer-item">
    P.IVA: 04002410233
  </div>
</div>
