div {
    display: flex;
}

.ir-mobile-contacts-background-img {
    background-color: white;
    background-image: url('./../../assets/images/contacts_bck.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: calc(100vh - 9vh);
    /* header height */
}

.ir-mobile-contacts-background-gradient {
    flex-direction: column;
    flex: 1;
    background: transparent;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 50%);
}

.ir-mobile-contacts-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5vh 3vw 3vh 3vw;
    font-size: 6vw;
    font-weight: 500;
}

.ir-mobile-contacts-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 300;
}

.ir-mobile-contacts-table {
    flex-direction: column;
    padding: 3vh 3vw;
}

.ir-mobile-contacts-name {
    margin-bottom: 1.5vh;
    font-size: 4.5vw;
    font-weight: 500;
}

.ir-mobile-contacts-item-box {
    font-size: 4vw;
    margin: 3px 0;
}

.ir-mobile-contacts-item-label {
    flex: 1;
}

.ir-mobile-contacts-item-value {
    font-weight: 500;
    flex: 3;
}

a {
    text-decoration: inherit;
}

.ir-mobile-contacts-additional-message {
    font-size: 3.5vw;
    margin: 1vh 3vw 1vh 3vw;
}

.ir-mobile-contacts-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 9vh;
    font-size: 3vw;
    font-weight: 200;
    background-color: #444;
    color: #fff;
}

.ir-mobile-contacts-footer-item {
    margin: 0.2vh 3vw;
}