<div class="ir-contacts-background-img">
  <div class="ir-contacts-background-gradient">
    <div class="ir-contacts-title">
      A tua completa disposizione
    </div>
    <div class="ir-contacts-text">
      Dubbi, preventivi, collaborazioni? Per qualsiasi cosa, chiedi pure!
    </div>
    <div class="ir-contacts-table">
      <div class="ir-contacts-name">Luca Rebesan</div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Mail
        </div>
        <div class="ir-contacts-item-value">
          ing.rebesan@gmail.com
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Telefono
        </div>
        <div class="ir-contacts-item-value">
          3402695402
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Social
        </div>
        <div class="ir-contacts-item-value">
          <a href="https://www.linkedin.com/in/luca-rebesan-590a895a/" target="_blank">LinkedIn</a>
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
        </div>
        <div class="ir-contacts-item-value">
          <a href="https://www.facebook.com/luca.rebesan" target="_blank">Facebook</a>
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
        </div>
        <div class="ir-contacts-item-value">
          Instagram
        </div>
      </div>
    </div>
    <div class="ir-additional-message">
      Il lavoro tiene occupati e può capitare che il telefono squilli più a lungo del previsto, riprova semplicemente più tardi o aspetta di essere richiamato!
    </div>
    <div class="ir-additional-message">
      In alternativa una mail riceverà sempre risposta!
    </div>
  </div>
</div>


<div class="ir-contacts-footer">
  <div class="ir-contacts-footer-item">
    VIA ANTONIO PAJUSCO 52, ROVEREDO DI GUÀ, VERONA, ITALIA
  </div>
  <div class="ir-contacts-footer-item">
    P.IVA: 1592165NUMERIACASO54984
  </div>
</div>
