<div class="ir-contacts-background-img">
  <div class="ir-contacts-background-gradient">
    <div class="ir-contacts-title">
      A tua completa disposizione
    </div>
    <div class="ir-contacts-text">
      Dubbi, preventivi, collaborazioni? Per qualsiasi cosa, chiedi pure!
    </div>
    <div class="ir-contacts-table">
      <div class="ir-contacts-name">Ing. Luca Rebesan</div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Mail
        </div>
        <div class="ir-contacts-item-value">
          <a href="mailto:ing.rebesan@gmail.com">ing.rebesan@gmail.com</a>
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Telefono
        </div>
        <div class="ir-contacts-item-value">
          <a href="tel:+393402695402">+39 3402695402</a>
        </div>
      </div>
    </div>
    <div class="ir-additional-message">
      Il lavoro tiene occupati e può capitare che il telefono squilli più a lungo del previsto, riprova semplicemente più tardi o aspetta di essere richiamato!
    </div>
    <div class="ir-additional-message">
      In alternativa una mail riceverà sempre risposta!
    </div>
  </div>
</div>


<div class="ir-contacts-footer">
  <div class="ir-contacts-footer-item ir-contacts-logo">
    <img src="assets/images/logo_big_alpha.png"/>
  </div>
  <div class="ir-contacts-footer-item" style="align-items: flex-end;">
    <div style="margin-bottom: 10px;">
      VIA DON ANTONIO PAJUSCO 2, ROVEREDO DI GUÀ, VERONA, ITALIA
    </div>
    <div>
      P.IVA: 04002410233
    </div>
  </div>
</div>
