<div class="ir-contacts-background-img">
  <div class="ir-contacts-background-gradient">
    <div class="ir-contacts-title">
      A tua completa disposizione
    </div>
    <div class="ir-contacts-text">
      Dubbi, preventivi, collaborazioni? Per qualsiasi cosa, chiedi pure!
    </div>
    <div class="ir-contacts-table">
      <div class="ir-contacts-name">Luca Rebesan</div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Mail
        </div>
        <div class="ir-contacts-item-value">
          ing.rebesan@gmail.com
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Telefonami
        </div>
        <div class="ir-contacts-item-value">
          3402695402
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          LinkedIn
        </div>
        <div class="ir-contacts-item-value">
          Visita il mio <a href="https://www.linkedin.com/in/luca-rebesan-590a895a/">profilo</a> anche se è un po' vuoto
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Facebook
        </div>
        <div class="ir-contacts-item-value">
          Non ho ancora una pagina facebook della mia attività perché sono triste :(
        </div>
      </div>
      <div class="ir-contacts-item-box">
        <div class="ir-contacts-item-label">
          Instagram
        </div>
        <div class="ir-contacts-item-value">
          Non ho ancora una pagina instagram della mia attività perché sono triste :(
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ir-contacts-footer">
  <div class="ir-contacts-footer-item">
    VIA ANTONIO PAJUSCO 52, ROVEREDO DI GUÀ, VERONA, ITALIA
  </div>
  <div class="ir-contacts-footer-item">
    P.IVA: 1592165NUMERIACASO54984
  </div>
</div>
