<div class="ir-mobile-menu">
  <div class="ir-mobile-menu-icon" (click)="showMenu = true">MENU</div>
  <div class="ir-mobile-menu-logo" (click)="redirectTo(null)">
    <img src="assets/images/logo_small.jpg"/>
  </div>
</div>

<div class="ir-mobile-menu-window" [ngClass]="{'ir-mobile-menu-window-open': showMenu}">
  <div class="ir-mobile-menu-window-close" (click)="showMenu = false">X</div>
  <div class="ir-mobile-menu-window-logo">
    <img src="assets/images/logo_big.jpg"/>
  </div>
  <div class="ir-mobile-menu-window-list">
    <div
      class="ir-mobile-menu-window-list-item"
      [ngClass]="{'ir-mobile-menu-window-list-item-active': isHome}"
      (click)="redirectTo(null)">
      Home
    </div>
    <div
      *ngFor="let link of links"
      class="ir-mobile-menu-window-list-item"
      [ngClass]="{'ir-mobile-menu-window-list-item-active': link.isActive}"
      (click)="redirectTo(link)">
      {{link.label}}
    </div>
  </div>
</div>
