<div class="ir-mobile-home">
  <img *ngIf="swapImg1" class="ir-mobile-home-img" [src]="swapImg1" [@fade]/>
  <img *ngIf="swapImg2" class="ir-mobile-home-img" [src]="swapImg2" [@fade]/>

  <div *ngIf="swapImg1" class="ir-mobile-home-text" [@fade]>
    <div class="ir-mobile-home-text-title" >
      {{selectedTemplate.title}}
    </div>
    <div class="ir-mobile-home-text-description">
      {{selectedTemplate.description}}
    </div>
  </div>
  <div *ngIf="swapImg2" class="ir-mobile-home-text" [@fade]>
    <div class="ir-mobile-home-text-title">
      {{selectedTemplate.title}}
    </div>
    <div class="ir-mobile-home-text-description">
      {{selectedTemplate.description}}
    </div>
  </div>
</div>

<!--



-->
