<div class="ir-render">
    <div class="ir-render-title">
        Hai mai visitato un edificio che non esiste?
    </div>
    <div class="ir-render-subtitle">
        Entra nella tua prossima casa, fatti un'idea degli spazi e di come apparirà grazie a strumenti di progettazione e creazione digitale d'avanguardia.
    </div>

    <div class="ir-render-presentation">
        <div class="ir-render-selected-project">
            <div class="ir-render-selected-project-title">{{selectedProject.name}}</div>
            <img [src]="selectedProject.rendersPaths[selectedRenderIndex]" />
            <div class="ir-render-selected-project-arrow left" (click)="nextPhoto()">&lt;</div>
            <div class="ir-render-selected-project-arrow right" (click)="previousPhoto()">&gt;</div>
        </div>
        <div class="ir-render-project-list-container">
            <div class="ir-render-projects-list-title">Progetti</div>
            <div class="ir-render-projects-list">
                <div *ngFor="let project of projects" class="ir-render-projects-list-project" (click)="selectProject(project)">
                    <img [src]="project.rendersPaths[0]">
                    <div class="ir-render-projects-list-project-details">
                        <div class="ir-render-projects-list-project-details-name">{{project.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ir-render-rights">
        Autodesk Inc. - Autodesk, Maxon Computer - Cinema 4D e Chaos Czech - Corona Renderer sono marchi registrati. Tutti i diritti sono riservati.
    </div>

</div>