<section>
    <img class="ir-overlay-logo-big" src="assets/images/logo_big_alpha.png" alt="">
    <div *ngFor="let section of sections; let index = index" class="ir-overlay" [ngClass]="index % 2 === 0 ? 'ir-overlay-even' : 'ir-overlay-odd'">
        <img [src]="section.imagePath" alt="">
        <div class="ir-overlay-info" [ngClass]="index % 2 === 0 ? 'ir-overlay-even' : 'ir-overlay-odd'">
            <div class="ir-overlay-title">{{section.title}}</div>
            <div class="ir-overlay-description">{{section.description}}</div>
        </div>
    </div>
</section>