<div class="ir-mobile-render">
    <div class="ir-mobile-render-title">
        Hai mai visitato un edificio che non esiste?
    </div>
    <div class="ir-mobile-render-subtitle">
        Entra nella tua prossima casa, fatti un'idea degli spazi e di come apparirà grazie a strumenti di progettazione e creazione digitale d'avanguardia.
    </div>

    <div class="ir-mobile-render-programs">
        <div class="ir-mobile-render-programs-title">
          Ma... come?
        </div>
        <div class="ir-mobile-render-programs-list">
          <div *ngFor="let program of programs;" 
            class="ir-mobile-render-program">
            <a [href]="program.link" target="_blank">
              <img class="ir-mobile-render-program-logo" [src]="program.iconPath">
            </a>
            <div class="ir-mobile-render-program-details">
              <a class="ir-mobile-render-program-name" [href]="program.link" target="_blank">
                {{program.name}}
              </a>
              <div class="ir-mobile-render-program-description">
                {{program.description}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ir-mobile-render-rights">
        Autodesk Inc. - Autodesk, Maxon Computer - Cinema 4D e Chaos Czech - Corona Renderer sono marchi registrati. Tutti i diritti sono riservati.
    </div>

</div>
